[Desktop Entry]
Type=Application
Name=Files
Icon=files
Exec=/apps/mxfiles.elf
X-Makar-WinW=568
X-Makar-WinH=404
X-Makar-Tint=f0a830
X-Makar-IconX=128
X-Makar-IconY=40
