[Desktop Entry]
Type=Application
Name=Tasks
Icon=tasks
Exec=/apps/mxtasks.elf
X-Makar-WinW=568
X-Makar-WinH=384
X-Makar-Tint=9b6cff
X-Makar-IconX=128
X-Makar-IconY=124
