[Desktop Entry]
Type=Application
Name=Net
Icon=net
Exec=/apps/mxnet.elf
X-Makar-WinW=468
X-Makar-WinH=344
X-Makar-Tint=4cb0ff
X-Makar-IconX=24
X-Makar-IconY=376
