[Desktop Entry]
Type=Application
Name=Display
Icon=display
Exec=/apps/mxdisplay.elf
X-Makar-WinW=380
X-Makar-WinH=300
X-Makar-Tint=6090c0
X-Makar-IconX=24
X-Makar-IconY=544
