[Desktop Entry]
Type=Application
Name=Web
Icon=web
Exec=/apps/mxweb.elf
X-Makar-WinW=720
X-Makar-WinH=520
X-Makar-Tint=4cb0ff
X-Makar-IconX=128
X-Makar-IconY=544
