[Desktop Entry]
Type=Application
Name=vix
Icon=terminal
Exec=/apps/mxterm.elf
X-Makar-Arg=/apps/vix.elf
X-Makar-WinW=648
X-Makar-WinH=440
X-Makar-Tint=4c8dff
X-Makar-IconX=232
X-Makar-IconY=40
