[Desktop Entry]
Type=Application
Name=Settings
Icon=settings
Exec=/apps/mxsettings.elf
X-Makar-WinW=720
X-Makar-WinH=520
X-Makar-Tint=6a7180
X-Makar-IconX=232
X-Makar-IconY=376
