[Desktop Entry]
Type=Application
Name=Monitor
Icon=terminal
Exec=/apps/mxterm.elf
X-Makar-Arg=/apps/maktop.elf
X-Makar-WinW=648
X-Makar-WinH=440
X-Makar-Tint=4c8dff
